body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #373535;
}
label {
    font-size: 17px;
    font-weight: 400;
    margin:5px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}

label, p {
    color: #edf0f1;
}
#contact_form {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.request_message {
    width: 400px;
    text-transform: capitalize;
    background-color: #0088a9;
    text-align: center;
    font-size: 13px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(5, 167, 208, 0.5);
    animation: display_message 0.5s ease-out;
}

@keyframes display_message {
    from {
        transform: translateY(-70px);
    }
}

form {
    background-color: #514e4e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    width: 400px;
    padding: 20px;
}

form h2 {
    color: #edf0f1;
    font-size: 35px;
    text-align: center;
}

input, textarea {
    padding: 8px;
    resize: none;
    outline: 0;
    border: 2px solid #0088a9;
    border-radius: 4px;
}

#send_btn {
    margin-top: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}